extends layout

block content
  span(class="story_id", style="display:none")= id
  script(src="/javascripts/twitch.js") 
  
  p
    a(href="/stories") <--back
  h1(class="page_title")= story.title
  
  if story.completed
    p= story.fullStory
  else
    p Words to next sentence: 
      span(class="current_Word") #{story.currentWord}
      | / #{min.words}
    p Sentences to end story: 
      span(class="current_sentence") #{story.currentSentence}
      | / #{min.sentences}
    br
    div(class="current_story")
      h3 Current Story
      span(class="story_preview") #{story.preview}
      
      if error
        p(class="error") Error: #{error}
    
    div(class="command_list")
    h3 Available commands:
    ul
      li
        p w [word] - add a word
      if story.text[story.currentSentence]
        if story.currentWord >= min.words
          li
            p(class="new_sentence") s  - new sentence
