extends layout

block content
  span(class="story_id", style="display:none")= id
  
  p
    a(href="/stories") <--back
  h1= story.title
  if error
    p Error: #{error}
  
  if story.completed
    p= story.fullStory
  else
    p Words to next sentence: #{story.currentWord} / #{min.words}
    p Sentences to end story: #{story.currentSentence} / #{min.sentences}
    div(class="current_story")
      h3 Current Story
      span(class="story_preview") #{story.preview}
    
    div(class="command_list")
    h3 Available commands:
    ul
      li
        p word [word] - add a word
        
        
      if story.text[story.currentSentence]
        if story.currentWord >= min.words
          br
          br
          li
            p sentence  - new sentence
